<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/manytomanyRel</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">tanu@2021</property>

        <!-- Hibernate settings -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">false</property>

        <!-- Mapping classes -->
        <mapping class="m.n.y.Employee"/>
        <mapping class="m.n.y.Project"/>
    </session-factory>
</hibernate-configuration>
