


<hibernate-configuration> 
<session-factory> 
<property name="connection.driver_class">com.mysql.jdbc.Driver</property> 
<property name="connection.url">jdbc:mysql://localhost:3306/dbtests</property> 
<property name="connection.username">root</property> 
<property name="connection.password">tanu@2021</property> 
<property name="hibernate.hbm2ddl.auto">update</property> 
<property name="hibernate.show_sql">true</property> 
<mapping class="g.h.j.Student"/> 
</session-factory> 
</hibernate-configuration>